.ci-tab-panel {
  padding: 20px;
  background-color: #FDFEFB;
  max-width : 600px;
}

.ci-z {
  background-color:#F5F5FF;
}
.ci-t {
  background-color:#F6F0FF;
}

.intro-playground {
  padding:15px; 
  background-color:#F5F5FF; 
  border-radius:10px;
}

p {
  padding: 10px; 
  background-color: #F5F5FF; 
  border-radius: 10px;
}
